.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/**
.eslintrc*
.prettierrc*
eslint.config.*
tsconfig.json
esbuild.js
*.vsix
.git/**
.gitignore
sidebar-markdown-notes/**
node_modules/**
!dist/**
